<h1 class="red">Email de doação</h1>
<p>
  Nome da entidade: {{entityName}}
  <br />
  Valor doado: {{valueDonated}}
  <br>
  Titulo do caso: {{caseTitle}}
  <br>
  Para saber mais: <a href="{{ caseLink }}">clique aqui!</a>
  <hr>
</p>